* {
    margin: 0;
    padding: 0;
    font-family: 'Skranji', cursive;
  }
  
  body {
    background-image: url("../img/weather.webp");
    background-size: cover;
    height: 100%;
  }
  
  header {
    display: flex;
    justify-content: center;
    margin: 5%;
  }
  
  h1 {
    font-size: 300%;
    color: white;
  }
  
  .search-content {
    margin: 50px auto;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .searchbar, 
  .search-buttons {
    width: 100%;
  }
  
  .form-control {
    border-radius: 20px;
  }
  
  .search-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .search-buttons button {
    background-color: rgb(255, 160, 19);
    border: 1px solid rgb(156, 156, 156);
    box-shadow: 0px 10px 20px rgba(0,0,0,.332);
    color: black;
    border-radius: 25px;
    padding: 5px 20px;
  }
  
  .search-buttons button:hover {
    /* background-color: black; */
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(112, 67, 0);
  }

  
  .search-buttons button:active {
    background-color: rgb(255, 153, 0) !important;
  }

  .btn-primary {
    border-radius: 20px;
    padding: 5px 20px;
  }
  
  .currentDay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
  }
  
  .display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }
  
  .displayCity {
    display: flex;
    font-size: 500%;
    color: white;
    justify-content: bottom;
  }
  
  .displayDate {
    display:flex;
    justify-content: bottom;
    left: 10px;
    font-size: 400%;
    color: white;

  }
  
  .weatherInfo {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .displayWthIcon {
    height: 150px;
    width: 150px;
  }

  .todayIcon {
    display: flex;
    justify-content: center;
  }
  
  .displayWthText {
    font-size: 175%;
    font-style: italic;
  }
  
  .currentCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .cardTitle {
    font-size: 125%;
    text-transform: uppercase;
    flex: auto;
    color: white;
  }
  
  .cardContent {
    font-size: 300%;
    font-weight: bold;
    color: white;
  }

  .cardSmallText {
    color: white;
  }
  
  .forecast {
    display: flex;
    justify-content: space-evenly;
  }
  
  .forecastDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background-color: rgb(255, 255, 255, 0.3);
  }
  
  